/* app-wide custom styles */

/* let bootstrap handle layout; provide top margin to offset fixed nav */
body {
  padding-top: 70px;
}

.container {
  max-width: 960px;
}

a.active {
  font-weight: bold;
}