/* MessagesComponent's private CSS styles */

:host {
  display: block;
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  color: #A80000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
